@media (orientation: portrait) and (max-width: 599px) {
  #introduction > div {
    padding-top: 10.714285714285714%;
  }
}
@media (orientation: portrait) and (min-width: 600px) {
  #introduction > div {
    padding-top: 7.8125%;
  }
}
@media (orientation: landscape) {
  #introduction > div strong {
    display: block;
    margin: 0 auto;
    width: 80%;
  }
}
