.single-column {
  display: grid;
  gap: var(--size-3);
  margin: var(--size-3) auto 0;
  max-width: 50rem;
}

.cta {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1;
}
