#overlay {
  display: none;
  height: 100%;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  top: 0;
  width: 100%;

  > img {
    height: auto;
    position: absolute;
  }
  > .top {
    top: 0;
  }
  > .right {
    right: 0;
  }
  > .bottom {
    bottom: 0;
  }
  > .left {
    left: 0;
  }
  > #flowersBottom {
    bottom: -3%;
    width: 100%;
  }
  > #flowersBottomRight {
    bottom: -10%;
    right: -2.5%;
    width: 22%;
  }
  > #flowersMidLeft {
    bottom: 10%;
    left: -2%;
    width: 25%;
  }
  > #flowersTopLeft {
    left: -2%;
    width: 32%;
  }
  > #flowersTopRight {
    width: 30%;
  }
  > #lady {
    bottom: 0;
    left: 10%;
    width: 22%;
  }
  > #man {
    bottom: -17%;
    right: 9%;
    width: 17%;
  }
  > #peacock {
    bottom: -15%;
    left: 7%;
    width: 30%;
  }
  > #stag {
    bottom: -20%;
    right: -6%;
    width: 34%;
  }

}
