#background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;

    @media (orientation: landscape) {
        background-image: url('/images/background/landscape.jpg');
        padding: 3.125%;
    }
    @media (orientation: portrait) {
        background-image: url('/images/background/portrait.jpg');

        @media (--desktop-small-below) {
            padding: 6.25%;
        }
        @media (--desktop-small-above) {
            padding: 50px;
        }
    }
    .corner {
        height: auto;
        position: absolute;
        width: 3.75%;
    }
    ;
    #top-left {
        left: 0;
        margin: 1.25% 0 0 1.25%;
        top: 0;
        transform: rotate(-90deg);
    }
    #top-right {
        margin: 1.25% 1.25% 0 0;
        right: 0;
        top: 0;
    }
    #bottom-left {
        bottom: 0;
        left: 0;
        margin: 0 0 1.25% 1.25%;
        transform: rotate(180deg);
    }
    #bottom-right {
        bottom: 0;
        margin: 0 1.25% 1.25% 0;
        right: 0;
        transform: rotate(90deg);
    }
    .logo {
        display: none;

        @media (orientation: landscape) {
        height: 8vh;
        left: 50%;
        position: absolute;
        top: 2%;
        transform:translateX(-50%);
    }
    }
}

#paper {
    background-color: rgba(255, 255, 255, 0.95);
    height: 100%;
    overflow: hidden;
    position: relative;

    * {
        @media (orientation: portrait) {
            display: none;
        }
    }
    #line-top {
      display: none;
      top: 15px;
    }
    #line-left {
      display: none;
      height: 100%;
      left: 15px;
    }
    #line-right {
      display: none;
      height: 100%;
      right: 15px;
    }
    #line-bottom {
      bottom: 15px;
      display: none;
    }
    .cloud {
      height: 20%;
      position: absolute;
      width: auto;
      left: -25%;
    }
    #cloud1 {
      top: 5%;
    }
    #cloud2 {
      top: 60%;
    }
}
