html {
    box-sizing: border-box;
    font-family: 'Brandon Grotesque';
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    min-height: 0;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    height: 100%;
    overflow: hidden;

    @media (orientation: landscape) {
      align-items: center;
      display: flex;justify-content: center;

        @media (--largescreen-below) {
            padding: 1.876172607879925%;
        }
        @media (--largescreen-above) {
            padding: 30px;
        }
    }
}

#root {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    width: 100%;

    @media (orientation: landscape) {
        max-height: 960px;
        max-width: 1600px;
    }
    > * {
        height: 100%;
        width: 100%;

        @media (orientation: landscape) {
            background-image: url('/images/background/landscape.jpg');
            padding: 3.125%;
        }
        @media (orientation: portrait) {
            background-image: url('/images/background/portrait.jpg');

            @media (--desktop-small-below) {
                padding: 6.25%;
            }
            @media (--desktop-small-above) {
                padding: 50px;
            }
        }
    }
}

#component {
background-color: rgba(255, 255, 255, 0.95);
    height: 100%;
    overflow: auto;
    position: relative;
    width: 100%;

    @media (orientation: landscape) {
      align-items: center;
    display: flex;
    justify-content: center;
    }
}

.stage {
    position: relative;

    @media (orientation: landscape) {
      align-items: center;
    display: flex;
    flex-direction: column;
        width: 50%;
    }
    @media (orientation: portrait) {
        margin: 0 auto;
        min-height: 100%;
        width: 90%;
    }
    /* > div {
        > a {
            bottom: 0;
            position: fixed;
        }
    } */
}

#introduction {
    > img,
    > button {
        display: block;
        height: auto;
        margin: 0 auto;
    }
    > img {
        /*margin: 30px 50px;*/
        max-width: 182px;
    }
}

#overlay {
    position: absolute;
}

#reset-button {
    bottom: 0;
    position: absolute;
    right: 0;

    @media (orientation: landscape) {
        transform: translateY(100%);
    }
}


.button {
    background-color: hsl(141, 21%, 73%);
    border: 1px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    box-shadow: 1px 1px 0 black;
  display: inline-block;
    padding: 14px 44px;
  }
