html {
    box-sizing: border-box;   
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    min-height: 0;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	height: 100%;
}