html {
    box-sizing: border-box;   
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    min-height: 0;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	height: 100%;
}

form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
label {
	width: 21%;
}
input[type=checkbox] {
	background-color: blue;
	height: 100px;
	width: 100px;

	appearance: none;
	&:checked {
	background-color: red;	
	}
	&:disabled {
		opacity: 0.5;
	}
}