#confirmation {
	p {
		font-size: 14px;
		width: 100%;

		&:first-of-type {
			font-family: 'Lovato';
			font-size: 23px;
			text-transform: uppercase;
		}
		&:nth-of-type(2) {
			font-family: 'Lovato';
			font-size: 23px;

			span {
				color: #689778;
			}
		}
	}
	ul {
		border-bottom: 1px solid #373332;
		border-top: 1px solid #373332;
		color: #689778;
		display: block;
		list-style-type: none;
		margin: 0;
		padding: 20px 0;
		width: 100%;

		* {
			display: inline;
		}
	}
	li {
		&:after {
			content: '. ';
			font-size: 50px;
			line-height: 0;
		}
		div {
			&:first-child {
				display: none;
			}
		}
		h2, p {
			display: none;
		}
		strong {
			font-size: 40px;
			text-transform: none;
		}
	}
	input {
		border: 4px solid #373332;
		height: 20px;
		vertical-align: middle;
		width: 20px;

		appearance: none;
	}
	.separator {
		display: flex;
		flex-direction: column;

		> * {
			&:not(:first-child) {
				margin-top: 15px;
			}
		}
	}
}