#form {
  height: 100%;
  left: 0;
  padding: inherit;
  position: absolute;
  top: 0;
  width: 100%;
}
@media (orientation: landscape) {
  #form {
    padding: 3.125%;
  }
}
@media (orientation: portrait) and (max-width: 799px) {
  #form {
    padding: 6.25%;
  }
}
@media (orientation: portrait) and (min-width: 800px) {
  #form {
    padding: var(--page-padding);
  }
}
#form > * {
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
@media (orientation: portrait) {
  #form > * {
    height: 100%;
  }
}
@media (orientation: portrait) and (max-width: 599px) {
  #form > * {
    padding: calc(3.571428571428571% + 3.38rem + 0.63rem) 3.571428571428571%
      calc(3.571428571428571% * 3 + 1.25rem);
  }
}
@media (orientation: portrait) and (min-width: 600px) {
  #form > * {
    padding: calc(7.8125% + 1.88rem) 7.8125% calc(7.8125% + 1.25rem);
  }
}
@media (orientation: landscape) {
  #form > * {
    height: 100%;
    padding: 4%;
    width: 100%;
  }
}
@media (orientation: landscape) {
  #form > * > * {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
}
@media (orientation: landscape) {
  #form h1 {
    text-align: left;
  }
}
#form input {
  background: none;
  border: none;
  border-bottom: var(--border-width) solid #373332;
  color: var(--main-color);
  font-size: 1.63rem;
  font-weight: bold;
  margin: 0;
  transition: color 0.3s;
  width: 100%;
  letter-spacing: 0;
  text-indent: 0;
  border-radius: 0;
}
@media (min-width: 600px) {
  #form input {
    font-size: 2.13rem;
  }
}
#form input:valid {
  color: var(--green);
}
#form input:invalid {
  color: #aa1414;
  box-shadow: none;
}
@media (orientation: portrait) {
  #form .button {
    margin-top: 1.88rem;
  }
}
@media (orientation: landscape) {
  #form .button {
    bottom: 0;
    position: absolute;
    right: 0;
  }
}
@media (orientation: landscape) {
  #form .back-button {
    margin-left: 0;
  }
}

.column {
  position: relative;
}
@media (orientation: portrait) {
  .column {
    width: 100%;
  }
}
@media (orientation: landscape) {
  .column {
    align-items: center;
    display: flex;
    height: 100%;
    width: 45%;
  }
}
@media (orientation: portrait) {
  .column > * {
    text-align: center;
  }
}
@media (orientation: landscape) {
  .column > * {
    width: 100%;
  }
}

#divider {
  background-color: #000000;
  height: 60%;
  width: 0.06rem;
}
@media (orientation: portrait) {
  #divider {
    display: none;
  }
}

#flower-select {
  position: relative;
}
@media (orientation: portrait) {
  #flower-select {
    width: 100%;
  }
}
@media (orientation: landscape) {
  #flower-select header {
    bottom: 100%;
    left: 0;
    position: absolute;
  }
}
#flower-select strong {
  display: block;
}
@media (orientation: landscape) {
  #flower-select strong {
    text-align: left;
  }
}
#flower-select #flower-list strong {
  font-size: 1rem;
}
#flower-select .bouquet-list {
  color: var(--green);
  font-weight: bold;
}
@media (max-width: 599px) {
  #flower-select .bouquet-list {
    margin: 1.88rem 0 0;
  }
}
@media (orientation: landscape) {
  #flower-select .bouquet-list {
    left: 0;
    position: absolute;
    top: 100%;
  }
}
#flower-select .bouquet-list figure,
#flower-select .bouquet-list svg,
#flower-select .bouquet-list hr {
  display: none !important;
}
@media (max-width: 599px) {
  #flower-select .bouquet-list li:not(:first-child) {
    margin-top: 0.63rem;
  }
}
@media (min-width: 600px) {
  #flower-select .bouquet-list .flower-details * {
    display: inline;
  }
}
@media (max-width: 599px) {
  #flower-select .bouquet-list .flower-details h1 {
    text-align: left;
  }
}
@media (min-width: 800px) {
  #flower-select .bouquet-list .flower-details h1 {
    font-size: 2vw;
  }
}
@media (min-width: 1000px) {
  #flower-select .bouquet-list .flower-details h1 {
    font-size: 1.25rem;
  }
}
#flower-select .bouquet-list .flower-details strong {
  display: none;
}
#flower-select .bouquet-list .flower-details p {
  color: var(--main-color);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  margin-left: 0.25rem;
}
@media (min-width: 600px) {
  #flower-select .bouquet-list .flower-details p {
    font-size: 1.13rem;
  }
}
@media (min-width: 800px) {
  #flower-select .bouquet-list .flower-details p {
    font-size: 1rem;
  }
}
@media (min-width: 1400px) {
  #flower-select .bouquet-list .flower-details p {
    font-size: 1.06rem;
  }
}
@media (min-width: 1600px) {
  #flower-select .bouquet-list .flower-details p {
    font-size: 1.13rem;
  }
}

#flower-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (orientation: landscape) {
  #flower-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (orientation: portrait) and (min-width: 600px) {
  #flower-list {
    display: flex;
    flex-wrap: wrap;
  }
}
#flower-list li {
  padding: 0.75rem;
}
@media (orientation: landscape) {
  #flower-list li {
    width: 23%;
  }
}
@media (orientation: portrait) and (max-width: 599px) {
  #flower-list li {
    padding: 0.5rem;
  }
}
@media (orientation: portrait) and (min-width: 600px) {
  #flower-list li {
    display: flex;
    width: 50%;
  }
}
@media (orientation: portrait) and (max-width: 599px) {
  #flower-list li:not(:first-child) {
    margin-top: 0.31rem;
  }
}
#flower-list li > div {
  height: 100%;
  width: 100%;
}
@media (orientation: landscape) {
  #flower-list li > div {
    transition: outline 0.3s;
  }
  #flower-list li > div:hover {
    outline: var(--selection-outline) solid rgba(55, 51, 50, 0.3);
  }
}
@media (orientation: portrait) {
  #flower-list li > div {
    display: flex;
    padding: 0.63rem;
  }
}
@media (orientation: portrait) and (max-width: 599px) {
  #flower-list li > div {
    border-bottom: var(--border-width) solid var(--main-color);
  }
}
#flower-list figure {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 100%;
}
@media (orientation: portrait) {
  #flower-list figure {
    padding-top: 35%;
    width: 35%;
  }
}
@media (orientation: landscape) {
  #flower-list figure {
    padding-top: 100%;
  }
}
#flower-list h1 {
  text-align: left;
}
#flower-list svg,
#flower-list hr {
  display: none;
}
@media (orientation: landscape) {
  #flower-list .flower-details {
    display: none;
  }
}
@media (orientation: portrait) {
  #flower-list .flower-details {
    width: 65%;
  }
}
#flower-list .checked {
  background: #ffffff;
}
@media (orientation: landscape) {
  #flower-list .checked {
    outline: var(--selection-outline) solid var(--main-color);
  }
}
@media (orientation: portrait) {
  #flower-list .checked {
    outline: var(--selection-outline) solid var(--main-color);
  }
}
#flower-list .disabled {
  opacity: 0.5;
  pointer-events: none;
}

.flower-details {
  text-align: left;
}
.flower-details *:not(hr) {
  margin: 0;
}

#flower-details {
  height: 100%;
  position: relative;
}
@media (orientation: landscape) {
  #flower-details {
    align-items: center;
    display: flex;
  }
}
#flower-details ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}
@media (orientation: portrait) {
  #flower-details ul {
    text-align: center;
  }
}
#flower-details .flower {
  position: relative;
}
@media (orientation: portrait) {
  #flower-details .flower {
    display: none;
  }
}
#flower-details .flower > div {
  align-items: center;
  display: flex;
}
#flower-details figure {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 55%;
}
#flower-details figure > div {
  padding-top: 130%;
}
#flower-details .flower-details {
  position: relative;
  width: 45%;
}
#flower-details .flower-details h1 {
  bottom: 100%;
  left: 0;
  position: absolute;
}
@media (orientation: portrait) and (max-width: 499px) {
  #flower-details .flower-details h1 {
    font-size: 6.875000000000001vw;
  }
}
@media (orientation: portrait) and (min-width: 500px) {
  #flower-details .flower-details h1 {
    font-size: 2.13rem;
  }
}
@media (orientation: landscape) and (max-width: 1199px) {
  #flower-details .flower-details h1 {
    font-size: 3.252710592160134vw;
  }
}
@media (orientation: landscape) and (min-width: 1200px) {
  #flower-details .flower-details h1 {
    font-size: 2.44rem;
  }
}
#flower-details .flower-details strong {
  position: relative;
}
#flower-details .flower-details div {
  left: 0;
  position: absolute;
  top: 100%;
}
#flower-details .flower-details p:first-of-type {
  font-size: 1.38rem;
}

#hero-image {
  height: 100%;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
}
@media (orientation: landscape) {
  #hero-image header {
    display: none;
  }
}
#hero-image figure {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}
@media (orientation: portrait) {
  #hero-image figure {
    margin: 0 auto;
    padding-top: 95%;
    width: 70%;
  }
}

#bouquet-details {
  align-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  left: 0;
  margin: 0 auto;
  position: relative;
  top: 0;
  width: 100%;
  justify-content: center;
}
@media (orientation: portrait) {
  #bouquet-details {
    text-align: center;
  }
}
@media (orientation: portrait) {
  #bouquet-details header {
    display: none;
  }
}
@media (orientation: portrait) {
  #bouquet-details > div {
    margin: 0 auto;
  }
}
@media (max-width: 599px) {
  #bouquet-details > div {
    width: 100%;
  }
}
@media (min-width: 600px) {
  #bouquet-details > div {
    width: 80%;
  }
}
#bouquet-details .bouquet-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#bouquet-details .bouquet-list svg,
#bouquet-details .bouquet-list hr {
  display: none;
}
#bouquet-details .bouquet-list li:not(:first-child) {
  margin-top: 0.31rem;
}
@media (orientation: landscape) {
  #bouquet-details .bouquet-list .message:first-child p {
    margin: 0 0 1.25rem !important;
  }
}
@media (orientation: portrait) {
  #bouquet-details .bouquet-list .message:first-child p {
    margin: 1.25rem 0 !important;
  }
}
#bouquet-details .bouquet-list .message:not(:first-child) {
  margin-top: 0.63rem;
}
#bouquet-details .flower > div {
  align-items: center;
  display: flex;
}
#bouquet-details .flower figure {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 22%;
}
#bouquet-details .flower figure > div {
  padding-top: 100%;
}
#bouquet-details .flower h1 {
  text-align: left;
}
#bouquet-details .flower strong {
  display: none;
}
#bouquet-details .flower-details {
  width: 75%;
}

.person-details {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  position: relative;
}
.person-details form {
  width: 100%;
}
@media (min-width: 600px) {
  .person-details form {
    width: 80%;
  }
}
.person-details label {
  color: var(--main-color);
  display: block;
  font-size: 0.88rem;
  font-weight: bold;
  text-align: left;
}
.person-details label:nth-of-type(2) {
  margin-top: 1.25rem;
}
@media (orientation: portrait) {
  .person-details label {
    width: 100%;
  }
}
@media (orientation: landscape) {
  .person-details .back-button {
    margin-top: 1.88rem;
  }
}

#form-navigation {
  padding: 0.25rem 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: auto !important;
}
@media (orientation: portrait) {
  #form-navigation {
    position: fixed;
    width: 100%;
  }
}
@media (orientation: portrait) and (max-width: 599px) {
  #form-navigation {
    margin-bottom: 6.25%;
    padding: 0 6.25% !important;
  }
}
@media (orientation: portrait) and (min-width: 600px) {
  #form-navigation {
    margin-bottom: 3.125rem;
    padding: 0 3.125rem;
  }
}
@media (orientation: landscape) {
  #form-navigation {
    position: absolute;
    width: auto !important;
    padding: 0 0 4%;
    margin-bottom: 3.125%;
    overflow: visible;
  }
}
#form-navigation div {
  display: flex;
  justify-content: center;
}
@media (orientation: portrait) {
  #form-navigation div {
    background-color: #ffffff;
  }
}
@media (orientation: portrait) and (max-width: 599px) {
  #form-navigation div {
    padding: 3.821428571428571% 0;
  }
}
@media (orientation: portrait) and (min-width: 600px) {
  #form-navigation div {
    padding: 1.25rem 0;
  }
}
#form-navigation button {
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
  display: block;
  height: 1.25rem;
  transform: rotate(45deg);
  transition:
    background-color 0.3s,
    opacity 0.3s;
  width: 1.25rem;
  padding: 0;
}
#form-navigation button:not(:first-child) {
  margin-left: 0.94rem;
}
#form-navigation button.current {
  background-color: var(--green);
}
#form-navigation button:disabled {
  opacity: 0.5;
}
