#form {
    height: 100%;
    left: 0;
    padding: inherit;
    position: absolute;
    top: 0;
    width: 100%;

    @media (orientation: landscape) {
        padding: 3.125%;
    }
    @media (orientation: portrait) {
        @media (--desktop-small-below) {
            padding: 6.25%;
        }
        @media (--desktop-small-above) {
            padding: 50px;
        }
    }
    > * {
        overflow: auto;

        @media (orientation: portrait) {
            height: 100%;

            @media (--tablet-small-below) {
                padding: calc(3.571428571428571% + 66px + 20px) 3.571428571428571% 3.571428571428571%;
            }
            @media (--tablet-small-above) {
                padding: calc(7.8125% + 66px) 7.8125% 7.8125%;
            }
        }
        @media (orientation: landscape) {
            height: 100%;
            padding: 4%;
            position: relative;
            width: 100%;
        }
        > * {
            @media (orientation: landscape) {
                align-items: center;
                display: flex;
                height: 100%;
                justify-content: space-between;
                position: relative;
                width: 100%;
            }
        }
    }
    h1 {
        @media (orientation: landscape) {
            text-align: left;
        }
    }
    input {
        background: none;
        border: none;
        border-bottom: 1px solid #373332;
        color: $main-color;
        font-family: 'Lovato';
        font-size: 34px;
        font-weight: bold;
        margin: 0;
        transition: color 0.3s;
        width: 100%;

        &:valid {
            color: $green;
        }
    }
    .button {
        @media (orientation: landscape) {
            bottom: 0;
            position: absolute;
            right: 0;
        }
    }
    .back-button {
        @media (orientation: landscape) {
            margin-left: 0;
        }
    }
}

.column {
    position: relative;

    @media (orientation: portrait) {
        min-height: 100%;
        width: 100%;
    }
    @media (orientation: landscape) {
        align-items: center;
        display: flex;
        height: 100%;
        width: 45%;
    }
    > * {
        @media (orientation: landscape) {
            width: 100%;
        }
    }
}

#divider {
    background-color: #000000;
    height: 60%;
    width: 1px;

    @media (orientation: portrait) {
        display: none;
    }
}

#flower-select {
    position: absolute;

    header {
        @media (orientation: landscape) {
            bottom: 100%;
            left: 0;
            position: absolute;
        }
    }
    .bouquet-list {
        color: $green;
        font-family: 'Lovato';
        font-weight: bold;

        @media (orientation: landscape) {
            left: 0;
            position: absolute;
            top: 100%;
        }
        figure, svg {
            display: none !important;
        }
        .flower-details {
            * {
                display: inline;
            }
            h1 {
                @media (--tablet-small-below) {
                    display: block;
                    text-align: left;
                }
            }
            strong {
                display: none;
            }
            p {
                color: $main-color;
                font-family: 'brandon-grotesque', sans-serif;
                font-size: 16px;
                font-weight: normal;
                margin-left: 4px;

                @media (--tablet-small-above) {
                    font-size: 18px;
                }
                &:first-of-type {
                    &:before {
                        content: '(';
                    }
                    &:after {
                        content: '.';
                    }
                }
                &:last-of-type {
                    &:after {
                        content: ').';
                    }
                }
            }
        }
    }
}

#flower-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    @media (orientation: landscape) {
        display: flex;
        flex-wrap: wrap;
    }
    @media (orientation: portrait) {
        @media (--tablet-small-above) {
            display: flex;
            flex-wrap: wrap;
        }
    }
    li {
        padding: 12px;

        @media (orientation: landscape) {
            width: 25%;
        }
        @media (orientation: portrait) {
            @media (--tablet-small-below) {
                padding: 8px;
            }
            @media (--tablet-small-above) {
                width: 50%;
            }
        }
        &:not(:first-child) {
            @media (orientation: portrait) {
                @media (--tablet-small-below) {
                    margin-top: 5px;
                }
            }
        }
        > div {
            height: 100%;

            @media (orientation: landscape) {
                transition: outline 0.3s;

                &:hover {
                    outline: 8px solid rgba(55, 51, 50, 0.3);
                }
            }
            @media (orientation: portrait) {
                border-bottom: 1px solid $main-color;
                display: flex;
                padding: 10px;
            }
        }
    }
    figure {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        padding-top: 100%;

        @media (orientation: portrait) {
            padding-top: 35%;
            width: 35%;
        }
        @media (orientation: landscape) {
            padding-top: 100%;
        }
    }
    h1 {
        text-align: left;
    }
    svg {
        display: none;
    }
    .flower-details {
        @media (orientation: landscape) {
            display: none;
        }
        @media (orientation: portrait) {
            width: 65%;
        }
    }
    .checked {
        background: #ffffff;

        @media (orientation: landscape) {
            outline: 8px solid $main-color;
        }
        @media (orientation: portrait) {
            outline: 8px solid $main-color;
        }
    }
    .disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

.flower-details {
    text-align: left;

    * {
        margin: 0;
    }
}

#flower-details {
    ul {
        list-style-type: none;
        padding: 0;

        @media (orientation: portrait) {
            text-align: center;
        }
    }
    .flower {
        @media (orientation: portrait) {
            display: none;
        }
        > div {
            align-items: center;
            display: flex;
        }
    }
    figure {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 55%;

        > div {
            padding-top: 130%;
        }
    }
    .flower-details {
        position: relative;
        width: 45%;

        h1 {
            bottom: 100%;
            left: 0;
            position: absolute;
        }
        strong {
            position: relative;
        }
        div {
            left: 0;
            position: absolute;
            top: 100%;
        }
        p {
            &:first-of-type {
                font-size: 22px;
            }
        }
    }
}

#hero-image {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    header {
        @media (orientation: landscape) {
            display: none;
        }
    }
    figure {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        width: 100%;

        @media (orientation: portrait) {
            margin: 0 auto;
            padding-top: 95%;
            width: 70%;
        }
    }
}

#bouquet-details {
    align-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 100%;

    @media (orientation: portrait) {
        text-align: center;
    }
    header {
        @media (orientation: portrait) {
            display: none;
        }
    }
    > div {
        width: 80%;
    }
    .bouquet-list {
        list-style-type: none;
        padding: 0;

        svg {
            display: none;
        }
    }
    .flower {
        > div {
            align-items: center;
            display: flex;
        }
        figure {
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 25%;

            > div {
                padding-top: 100%;
            }
        }
        h1 {
            text-align: left;
        }
        strong {
            display: none;
        }
    }
    .flower-details {
        width: 75%;
    }
}

.person-details {
    @media (orientation: portrait) {
        text-align: center;
    }
    form {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    label {
        color: $main-color;
        display: inline-block;
        font-family: 'Lovato';
        font-size: 14px;
        font-weight: bold;
        margin-top: 30px;
        text-align: left;

        @media (orientation: portrait) {
            width: 100%;
        }
    }
    .back-button {
        @media (orientation: landscape) {
            margin-top: 30px;
        }
    }
}

#form-navigation {
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
