#overlay {
  height: 100%;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;

  > img {
    height: auto;
    position: absolute;
  }
  > .top {
    top: 0;
  }
  > .right {
    right: 0;
  }
  > .bottom {
    bottom: 0;
  }
  > .left {
    left: 0;
  }
  > #flowersBottom {
    bottom: -7%;
    width: 100%;

    @media (orientation: portrait) {
      bottom: -2%;
      left: -40%;
      width: 200%;
    }
  }
  > #flowersBottomRight {
    bottom: -10%;
    right: -2.5%;
    width: 18%;

    @media (orientation: portrait) {
      display: none;
    }
  }
  > #flowersMidLeft {
    bottom: 10%;
    left: -2%;
    width: 18%;

    @media (orientation: portrait) {
      display: none;
    }
  }
  > #flowersTopLeft {
    left: -2%;
    width: 25%;

    @media (orientation: portrait) {
      left: 0;
      width: 30%;
    }
  }
  > #flowersTopRight {
    width: 22%;

    @media (orientation: portrait) {
      width: 32%;
    }
  }
  > #lady {
    bottom: 2%;
    left: 7%;
    width: 15%;

    @media (orientation: portrait) {
      display: none;
    }
  }
  > #man {
    bottom: -14%;
    right: 6%;
    width: 13%;

    @media (orientation: portrait) {
      display: none;
    }
  }
  > #peacock {
    bottom: -10%;
    left: 1%;
    width: 22%;
  }
  > #stag {
    bottom: -10%;
    right: 0;
    width: 22%;
  }

}
