#overlay {
  height: 100%;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}
#overlay > img {
  height: auto;
  position: absolute;
}
#overlay > .top {
  top: -1%;
}
#overlay > .right {
  right: -1%;
}
#overlay > .bottom {
  bottom: -1%;
}
#overlay > .left {
  left: -1%;
}
#overlay > #flowersBottom {
  bottom: -7%;
  width: 100%;
}
@media (orientation: portrait) {
  #overlay > #flowersBottom {
    bottom: -2%;
    left: -40%;
    width: 200%;
  }
}
#overlay > #flowersBottomRight {
  bottom: -10%;
  right: -2.5%;
  width: 18%;
}
@media (orientation: portrait) {
  #overlay > #flowersBottomRight {
    display: none;
  }
}
#overlay > #flowersMidLeft {
  bottom: 10%;
  left: -2%;
  width: 18%;
}
@media (orientation: portrait) {
  #overlay > #flowersMidLeft {
    display: none;
  }
}
#overlay > #flowersTopLeft {
  left: -2%;
  width: 25%;
}
@media (orientation: portrait) {
  #overlay > #flowersTopLeft {
    left: 0;
    width: 30%;
  }
}
#overlay > #flowersTopRight {
  width: 22%;
}
@media (orientation: portrait) {
  #overlay > #flowersTopRight {
    width: 32%;
  }
}
#overlay > #lady {
  bottom: 2%;
  left: 7%;
  width: 15%;
}
@media (orientation: portrait) {
  #overlay > #lady {
    display: none;
  }
}
#overlay > #man {
  bottom: -14%;
  right: 6%;
  width: 13%;
}
@media (orientation: portrait) {
  #overlay > #man {
    display: none;
  }
}
#overlay > #peacock {
  bottom: -10%;
  left: 1%;
  width: 22%;
}
#overlay > #stag {
  bottom: -10%;
  right: 0;
  width: 22%;
}
