.page {
  height: 100%;
  left: 0;
  padding: inherit;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
@media (orientation: landscape) {
  .page {
    padding: 3.125%;
  }
}
@media (orientation: portrait) and (max-width: 799px) {
  .page {
    padding: 6.25%;
  }
}
@media (orientation: portrait) and (min-width: 800px) {
  .page {
    padding: var(--page-padding);
  }
}
.page > * {
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
}
@media (orientation: portrait) {
  .page > * {
    height: 100%;
  }
}
@media (orientation: portrait) and (max-width: 599px) {
  .page > * {
    padding: calc(3.571428571428571% + 3.38rem + 0.63rem) 3.571428571428571%
      17.857142857142858%;
  }
}
@media (orientation: portrait) and (min-width: 600px) {
  .page > * {
    padding: calc(7.8125% + 1.88rem) 7.8125% 7.8125%;
  }
}
@media (orientation: landscape) {
  .page > * {
    height: 100%;
    padding: 4%;
    position: relative;
    width: 100%;
  }
}
.page > * > * {
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  min-height: 100%;
  width: 90%;
}
@media (orientation: landscape) {
  .page > * > * {
    align-items: center;
    align-content: center;
    max-width: 50rem;
    height: 100%;
    width: 80%;
  }
}
.page > * > * > * {
  width: 100%;
}
.page p span {
  color: var(--green);
}
.page .bouquet-list {
  border-bottom: var(--border-width) solid var(--main-color);
  border-top: var(--border-width) solid var(--main-color);
  color: var(--green);
  font-weight: bold;
  list-style-type: none;
  padding: 1.25rem 0;
}
@media (max-height: 649px) {
  .page .bouquet-list {
    margin: 0.31rem 0;
    padding: 0.31rem 0;
  }
}
@media (min-height: 650px) and (max-height: 699px) {
  .page .bouquet-list {
    margin: 0.63rem 0;
    padding: 0.63rem 0;
  }
}
@media (min-height: 700px) {
  .page .bouquet-list {
    margin: 0.94rem 0;
    padding: 0.94rem 0;
  }
}
.page .bouquet-list * {
  display: inline;
}
.page .bouquet-list figure,
.page .bouquet-list h1,
.page .bouquet-list svg,
.page .bouquet-list strong,
.page .bouquet-list p:last-child {
  display: none;
}
.page .bouquet-list p {
  margin-right: 0.25rem;
}

@media (orientation: portrait) and (max-width: 599px) {
  #introduction > div {
    padding-top: 10.714285714285714%;
  }
}
@media (orientation: portrait) and (min-width: 600px) {
  #introduction > div {
    padding-top: 7.8125%;
  }
}
@media (orientation: landscape) {
  #introduction > div strong {
    display: block;
    margin: 0 auto;
    width: 80%;
  }
}
@media (orientation: portrait) {
  #introduction #main-logo {
    width: 40%;
  }
}
@media (orientation: portrait) and (max-width: 599px) {
  #introduction #main-logo {
    margin-bottom: 0.63rem;
  }
}
@media (orientation: portrait) and (min-width: 600px) {
  #introduction #main-logo {
    margin-bottom: 1.25rem;
  }
}
@media (orientation: landscape) and (max-height: 649px) {
  #introduction #main-logo {
    margin-bottom: 0.31rem;
  }
}
@media (orientation: landscape) and (min-height: 650px) and (max-height: 699px) {
  #introduction #main-logo {
    margin-bottom: 0.63rem;
  }
}
@media (orientation: landscape) and (min-height: 700px) {
  #introduction #main-logo {
    margin-bottom: 1.25rem;
  }
}
@media (max-height: 649px) {
  #introduction #main-logo img {
    max-width: 6.25rem;
  }
}
@media (min-height: 650px) and (max-height: 699px) {
  #introduction #main-logo img {
    max-width: 8.75rem;
  }
}
@media (min-height: 700px) {
  #introduction #main-logo img {
    max-width: 11.25rem;
  }
}
#introduction p:first-of-type {
  max-width: 40.63rem;
}
#introduction p:last-of-type {
  max-width: 28.13rem;
}

#description header {
  width: 100%;
}
#description p {
  max-width: 40.63rem;
}

#confirmation > * > * > p:nth-of-type(2) {
  margin: 0;
}
#confirmation > * > * > p:nth-of-type(2) strong {
  text-transform: none;
}
#confirmation .bouquet-list p {
  font-size: 6.25vw;
  font-weight: bold;
}
@media (min-width: 450px) {
  #confirmation .bouquet-list p {
    font-size: 1.75rem;
  }
}
#confirmation .bouquet-list .message {
  margin: 0 0 0.63rem;
}
#confirmation .terms a {
  color: inherit;
}

#thank-you {
  text-align: center;
}
#thank-you p {
  margin: 0;
}

.bouquet-list .message {
  margin: 0 0 0.63rem;
}

.terms {
  font-size: 0.81rem;
}

#products > p {
  margin: 0;
}
#products > p a {
  color: #80a78d;
}
#products > p:last-child {
  max-width: 45rem;
}
#products strong {
  text-transform: none;
}
#products svg {
  margin: 2vh 0;
  width: 100%;
}
#products ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
@media (orientation: portrait) {
  #products ul {
    flex-wrap: wrap;
  }
}
#products ul h2 {
  margin: 0;
  transition: color 0.3s;
}
#products ul a {
  color: inherit;
  text-decoration: none;
}
#products ul a:hover h2,
#products ul a:hover p:not(:last-child) {
  color: var(--green);
}
#products ul p {
  font-size: 1.25rem;
  margin: 0;
  transition: color 0.3s;
}
#products ul p:last-child {
  font-size: 1.13rem;
  font-weight: bold;
  /* margin-top: 10px; */
  opacity: 0.55;
}
#products ul p:last-child:after {
  background-image: url("/images/icons/arrow-left.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 0.75rem;
  margin-left: 0.25rem;
  transform: rotate(180deg);
  width: 0.75rem;
}
@media (orientation: portrait) and (max-width: 599px) {
  #products li {
    width: 100%;
  }
  #products li:not(:first-child) {
    margin-top: 1.25rem;
  }
}
@media (orientation: portrait) and (min-width: 600px) {
  #products li {
    width: 40%;
  }
  #products li:last-child {
    margin-top: 1.88rem;
  }
}
@media (orientation: landscape) {
  #products li {
    flex-grow: 1;
    width: 30%;
  }
}
#products figure {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 1.25rem;
  padding-top: 20vh;
}
#products h2 {
  text-transform: none;
}


#my-bouquet hr {
  margin: 0.63rem 0 0;
}
#my-bouquet strong {
  text-transform: none;
}
