.page {
    height: 100%;
    left: 0;
    padding: inherit;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;

    @media (orientation: landscape) {
        padding: 3.125%;
    }
    @media (orientation: portrait) {
        @media (--desktop-small-below) {
            padding: 6.25%;
        }
        @media (--desktop-small-above) {
            padding: 50px;
        }
    }
    > * {
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
        overflow-y: auto;

        @media (orientation: portrait) {
            height: 100%;

            @media (--tablet-small-below) {
                padding: calc(3.571428571428571% + 54px + 10px) 3.571428571428571% 17.857142857142858%;
            }
            @media (--tablet-small-above) {
                padding: calc(7.8125% + 30px) 7.8125% 7.8125%;
            }
        }
        @media (orientation: landscape) {
            height: 100%;
            padding: 4%;
            position: relative;
            width: 100%;
        }
        > * {
            align-content: space-around;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 auto;
            min-height: 100%;
            width: 90%;

            @media (orientation: landscape) {
                align-content: center;
                max-width: 800px;
            }
            > * {
                width: 100%;
            }
        }
    }
    p {
        span {
            color: $green;
        }
    }
    .bouquet-list {
        border-bottom: 1px solid $main-color;
        border-top: 1px solid $main-color;
        color: $green;
        font-weight: bold;
        list-style-type: none;
        padding: 20px 0;

         @extend lovato;
        * {
            display: inline;
        }
        figure,
        h1,
        svg,
        strong,
        p:last-child {
            display: none;
        }
        p {
            margin-right: 4px;
        }
    }
}

#introduction {
    > div {
        @media (orientation: portrait) {
            @media (--tablet-small-below) {
                padding-top: 10.714285714285714%;
            }
            @media (--tablet-small-above) {
                padding-top: 7.8125%;
            }
        }
    }
    #penhaligons-logo {
        margin-bottom: 30px;

        @media (orientation: portrait) {
            width: 40%;

            @media (--tablet-small-below) {
                margin-bottom: 10px; 
            }
            @media (--tablet-small-above) {
                margin-bottom: 20px;
            }
        }
        img {
            max-width: 180px;
        }
    }
    p {
        &:first-of-type {
            max-width: 650px;
        }
        &:last-of-type {
            max-width: 450px;
        }
    }
}
#description {
    header {
        width: 100% !important;
    }
}

#confirmation {
    > * {
        > * {
            > p {
                &:nth-of-type(2) {
                    margin: 0;

                    strong {
                    text-transform: none;
                }
                }
            }
        }
    }
    .bouquet-list {
        p {
            font-size: 6.25vw;
            font-weight: bold;

            @media (--phablet-medium-above) {
                font-size: 28px;
            }
        }
    }
}

#thank-you {
    left: 50%;
    min-height: auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    p {
        margin: 0;
    }
}


.terms {
    font-size: 13px;
}

#products {
    @extend lovato;
    > p {
        a {
            color: #80a78d;
        }
        &:first-child {
            margin: 0 0 30px !important;
        }
        &:last-child {
            max-width: 720px;
        }

    }
    strong {
        text-transform: none;
    }
    svg {
        margin: 2vh 0;
        width: 100%;
    }
    ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;

        @media (orientation: portrait) {
        flex-wrap: wrap;

        }
        h2 {
            margin: 0;
            transition: color 0.3s;
        }
        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                h2, p:not(:last-child) {
                    color: $green;
                }
            }
        }
        p {
            font-size: 20px;
            margin: 0;
            transition: color 0.3s;

            &:last-child {
                font-size: 18px;
                font-weight: bold;
                margin-top: 10px;
                opacity: 0.55;

                &:after {
        background-image: url('/images/icons/arrow-left.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        display: inline-block;
        height: 12px;  
        margin-left: 4px;
        transform: rotate(180deg);
        width: 12px;
    }
            }
        }
    }
    li {
        @media (orientation: portrait) {
            @media (--tablet-small-below) {
                width: 100%;

                &:not(:first-child) {
                    margin-top: 20px;
                }
            }
            @media (--tablet-small-above) {
                width: 40%;

                &:last-child {
                    margin-top: 30px;
                }
            }
        }
        @media (orientation: landscape) {
            flex-grow: 1;
            width: 30%;
        }
    }
    figure {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 20px;
        padding-top: 22vh;
    }
    h2 {
        text-transform: none;
    }
}

#share {
    p {
        margin: 0;
    }
    strong {
        text-transform: none;
    }
    a {
        color: inherit;
        font-weight: bold; 
        text-decoration: none;
        transition: color 0.3s;

        @extend lovato;
        &:hover {
            color: $green;

            path {
                fill: $green;
            }
        }
    }
    .share-link {
        align-items: center;
        display: flex;
        margin: 30px 30px 0;
        width: auto;
    }
    #twitter, #facebook {
        height: 50px;
        opacity: 1;
        width: 50px;
    }
    span {
        margin: 0 4px 0 10px;
        opacity: 0.5;
    }
    .share {
        height: 15px;
        opacity: 0.5;
        width: 20px;
    }
    path {
        transition: fill 0.3s;
    }
}

#my-bouquet {
    @extend lovato;
    hr {
        margin: 10px 0 0;
    }
    strong {
        text-transform: none;
    }
}
