#success {
	p {
        font-family: 'Lovato';
        text-transform: uppercase;
    }
}

#thank-you {
    align-items: center;
    flex-direction: column;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);

    h1 {
        font-size: 72px;
    }

}

#products {
	align-content: center;
	align-items: center;

    p {
        text-transform: none;

        a {
            color: #80a78d;
            text-decoration: none;
        }
    }
    svg {
    	margin: 2vh 0;
    	width: 100%;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;

        @media (orientation: landscape) {
            display: flex;

        }
        a {
            color: inherit;
            text-decoration: none;
        }
        p {
            font-size: 20px;

            &:last-child {
                font-size: 18px;
                margin-top: 10px;
                opacity: 0.55;
            }
        }
    }
    li {
        @media (orientation: landscape) {
            flex-grow: 1;
            width: 30%;
        }
    }
    figure {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 20px;
        padding-top: 27vh;
    }
    h2 {
        text-transform: none;
    }
}
