@font-face {
    font-family: 'Lovato';
    font-weight: bolder;
    src: url('/fonts/lovato/black.woff') format('woff');
}
@font-face {
    font-family: 'Lovato';
    font-weight: bold;
    src: url('/fonts/lovato/bold.woff') format('woff');
}
@font-face {
    font-family: 'Lovato';
    font-weight: normal;
    src: url('/fonts/lovato/regular.woff') format('woff');
}

h1 {
    font-family: 'Lovato';
    text-transform: uppercase;

    @media (orientation: portrait) {
        text-align: center;

        @media (--phablet-large-below) {
            font-size: 6.875000000000001vw;
        }
        @media (--phablet-large-above) {
            font-size: 34px;
        }
    }
    @media (orientation: landscape) {
        @media (--widescreen-small-below) {
            font-size:3.252710592160134vw;
        }
        @media (--widescreen-small-above) {
            font-size: 39px;
        }
    }
}

.sub-heading, .flower h1, .bouquet-list {
    font-size: 23px;
}
