.flower {
  justify-items: start;
  display: grid;
  gap: var(--size-1);
  grid-template-columns: max-content 50ch;
  grid-template-rows: auto auto auto;
  list-style: none;
}

.flower > img {
  width: 5rem;
  grid-row: 1 / span 3;
}

.name {
  font-size: var(--size-2);
  font-weight: 600;
  font-family: "Fraunces", serif;
}
