:root {
  --main-color: #373332;
  --green: #689778;
  --border-width: 0.06rem;
  --page-padding: 3.13rem;
  --selection-outline: 0.5rem;
}

h1,
strong,
.back-button,
.button,
#reset-button,
.page .bouquet-list,
#products,
#my-bouquet,
#form input,
#flower-select .bouquet-list,
.person-details label {
  font-family: "Fraunces";
  letter-spacing: -0.0515em;
  text-indent: -0.0515em;
}
