.background {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.forest {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
@media (orientation: landscape) {
  .forest {
    background-image: url("/images/background/landscape.jpg");
  }
}
@media (orientation: portrait) {
  .forest {
    background-image: url("/images/background/portrait.jpg");
  }
}
